* {
    padding: 0;
    margin: 0;
    position: absolute;
}
.hold {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.c {
    background: #0b2429;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: 10;
}
.corner {
    right: var(--rt);
    top: var(--t);
    bottom: var(--b);
    left: var(--l);
    width: 0;
    height: 0;
    border-bottom: 250px solid #0b2429;
    border-top: 250px solid transparent;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    transform: rotate(var(--r)) translate(0%, -72%);
}
